--
-- PostgreSQL database dump
--

\restrict uwfeohpwygC5IKHzeEes3k69abN6IVUY4ktw2NWGWb5scprK1LFPbVz1z5Cbtxp

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP INDEX IF EXISTS public.instrumentos_visible_idx;
DROP INDEX IF EXISTS public.instrumentos_fecha_actualizacion_idx;
ALTER TABLE IF EXISTS ONLY public.instrumentos_planeacion DROP CONSTRAINT IF EXISTS instrumentos_planeacion_pkey;
ALTER TABLE IF EXISTS ONLY public.admin_users DROP CONSTRAINT IF EXISTS admin_users_pkey;
ALTER TABLE IF EXISTS ONLY public.admin_users DROP CONSTRAINT IF EXISTS admin_users_email_key;
ALTER TABLE IF EXISTS public.instrumentos_planeacion ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.admin_users ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.instrumentos_planeacion_id_seq;
DROP TABLE IF EXISTS public.instrumentos_planeacion;
DROP SEQUENCE IF EXISTS public.admin_users_id_seq;
DROP TABLE IF EXISTS public.admin_users;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: cali500
--

CREATE TABLE public.admin_users (
    id integer NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    nombre text DEFAULT 'Administrador'::text NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    fecha_creacion timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.admin_users OWNER TO cali500;

--
-- Name: admin_users_id_seq; Type: SEQUENCE; Schema: public; Owner: cali500
--

CREATE SEQUENCE public.admin_users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admin_users_id_seq OWNER TO cali500;

--
-- Name: admin_users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cali500
--

ALTER SEQUENCE public.admin_users_id_seq OWNED BY public.admin_users.id;


--
-- Name: instrumentos_planeacion; Type: TABLE; Schema: public; Owner: cali500
--

CREATE TABLE public.instrumentos_planeacion (
    id integer NOT NULL,
    nombre text DEFAULT ''::text NOT NULL,
    tipo text DEFAULT ''::text NOT NULL,
    eje text DEFAULT ''::text NOT NULL,
    fecha_inicio text DEFAULT ''::text NOT NULL,
    fecha_fin text DEFAULT ''::text NOT NULL,
    estado text DEFAULT ''::text NOT NULL,
    link text DEFAULT ''::text NOT NULL,
    enlace_web text DEFAULT ''::text NOT NULL,
    documento_url text DEFAULT ''::text NOT NULL,
    observatorio text DEFAULT ''::text NOT NULL,
    visible boolean DEFAULT false NOT NULL,
    validacion_errores jsonb DEFAULT '[]'::jsonb NOT NULL,
    origen text DEFAULT 'admin'::text NOT NULL,
    source_row integer,
    fecha_creacion timestamp with time zone DEFAULT now() NOT NULL,
    fecha_actualizacion timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.instrumentos_planeacion OWNER TO cali500;

--
-- Name: instrumentos_planeacion_id_seq; Type: SEQUENCE; Schema: public; Owner: cali500
--

CREATE SEQUENCE public.instrumentos_planeacion_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.instrumentos_planeacion_id_seq OWNER TO cali500;

--
-- Name: instrumentos_planeacion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: cali500
--

ALTER SEQUENCE public.instrumentos_planeacion_id_seq OWNED BY public.instrumentos_planeacion.id;


--
-- Name: admin_users id; Type: DEFAULT; Schema: public; Owner: cali500
--

ALTER TABLE ONLY public.admin_users ALTER COLUMN id SET DEFAULT nextval('public.admin_users_id_seq'::regclass);


--
-- Name: instrumentos_planeacion id; Type: DEFAULT; Schema: public; Owner: cali500
--

ALTER TABLE ONLY public.instrumentos_planeacion ALTER COLUMN id SET DEFAULT nextval('public.instrumentos_planeacion_id_seq'::regclass);


--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: cali500
--

INSERT INTO public.admin_users (id, email, password_hash, nombre, activo, fecha_creacion) VALUES (1, 'admin@cali500.com.co', 'scrypt:7d1c8da1779420a1e8dcece491601e61:491c0299109263aee6cd804fe83afef5673d878ae9ce023618e050f2d82cf42a76a182517f5b6724aee31be93439e150ca217eff79be9699711eea62e02e490b', 'Administrador Cali 500', true, '2026-06-05 18:48:31.490515+00');
INSERT INTO public.admin_users (id, email, password_hash, nombre, activo, fecha_creacion) VALUES (2, 'editor@cali500.com.co', 'scrypt:171add4e2a36e261ab036a58bc227951:e232ea537e9ce6dd80cc32dfb714ecdfd5ffeba651a111deccc2f9d5897a0e832ab1333cafa94dd2fb8d6de9793d2dc5ccecd6710ba968bf058c77d524e752ad', 'Editor Cali 500', true, '2026-06-05 18:51:04.291427+00');


--
-- Data for Name: instrumentos_planeacion; Type: TABLE DATA; Schema: public; Owner: cali500
--

INSERT INTO public.instrumentos_planeacion (id, nombre, tipo, eje, fecha_inicio, fecha_fin, estado, link, enlace_web, documento_url, observatorio, visible, validacion_errores, origen, source_row, fecha_creacion, fecha_actualizacion) VALUES (3, 'Area Metropolitana del Suroccidente - AMSO', 'Normativo', 'Transversal', '2024', 'Permanente', 'Permanente', 'https://drive.google.com/file/d/1oIWfjebTZGvKC2J-eOf58VSBVJ4f5zlg/view?usp=drive_link', 'https://amsocali.com/', '', '', true, '[]', 'excel:hoja-1', 3, '2026-06-05 19:09:53.59517+00', '2026-06-05 19:09:53.59517+00');


--
-- Name: admin_users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cali500
--

SELECT pg_catalog.setval('public.admin_users_id_seq', 2, true);


--
-- Name: instrumentos_planeacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: cali500
--

SELECT pg_catalog.setval('public.instrumentos_planeacion_id_seq', 56, true);


--
-- Name: admin_users admin_users_email_key; Type: CONSTRAINT; Schema: public; Owner: cali500
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_email_key UNIQUE (email);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: cali500
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: instrumentos_planeacion instrumentos_planeacion_pkey; Type: CONSTRAINT; Schema: public; Owner: cali500
--

ALTER TABLE ONLY public.instrumentos_planeacion
    ADD CONSTRAINT instrumentos_planeacion_pkey PRIMARY KEY (id);


--
-- Name: instrumentos_fecha_actualizacion_idx; Type: INDEX; Schema: public; Owner: cali500
--

CREATE INDEX instrumentos_fecha_actualizacion_idx ON public.instrumentos_planeacion USING btree (fecha_actualizacion DESC);


--
-- Name: instrumentos_visible_idx; Type: INDEX; Schema: public; Owner: cali500
--

CREATE INDEX instrumentos_visible_idx ON public.instrumentos_planeacion USING btree (visible);


--
-- PostgreSQL database dump complete
--

\unrestrict uwfeohpwygC5IKHzeEes3k69abN6IVUY4ktw2NWGWb5scprK1LFPbVz1z5Cbtxp

